name: Ejecución de tests en Node con GitHub Actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # Podemos indicar distintas versiones de Node sobre las que ejecutar los tests
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    # Paso 1: clonar el repositorio
    - uses: actions/checkout@v2
    # Paso 2: utilizar la versión de Node correspondiente
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    # npm ci es "clean install", parecido a "npm install" pero con una instalación limpia
    - run: npm ci
    # Paso opcional en caso de que haya que hacer algún "build"
    - run: npm run build --if-present
    # Ejecución de los tests
    - run: npm test
